<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.servertest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".ForegroundService"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".RemoteService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.example.servicetest.MyAIDLService"/>
            </intent-filter>
        </service>
        <!--RemoteService 可以响应带有com.example.servicetest.MyAIDLService这个action的Intent,真正实现跨应用进程通讯 -->
        <!--android:process=":remote" 将一个普通的Service转换成远程Service-->
    </application>

</manifest>